*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.boss{
    width: 100%;
    position: relative;
    

}
header{
    width: 100%;
    height: 6rem;
    background-color: #ff8a00;
     display: flex;
    
     

}

.h1{
 
    flex: 4;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 3rem;
    box-sizing: border-box;
   
}
.h1>img{
  
    height: 60%;
}

.h2{
  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.h2>img{
   
    height: 60%;
}
.h3{
  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
   
}
.h3>img{
  
    height: 60%;
}
footer{
    width: 100%;
    height: 20rem;
    background-color: #2f3130;
  
   display: flex;
}
.f1{
    flex: 1;
   
}
.f2{
    flex: 16;
   
}
.f3{
    flex: 1;
   
}
.dibu{
    list-style: none;
    width: 100%;
    height: 19rem;
    display: flex;
    flex-direction: column;
}
.li1{
    flex: 1;
    color: rgb(147,148,148);
    border-bottom: rgb(147,148,148) .1rem solid;
   display: flex;
   align-items: center;
  
}
.li2{
    flex: 3;
  
    display: flex;
  
}
.z1{
    flex: 1;
  
    display: flex;
}
.ss1{
    flex: 1;
    /* background-color: seagreen; */
    display: flex;

    align-items: center;
}
.ss2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    color: rgb(147,148,148);
    align-content: center;
}
.ss3{
    flex: 1;
  
}

.z2{
    flex: 1;
    display: flex;
}
.li3{
    flex: 1;
    color: rgb(147,148,148);
    
}
.li3>p{
    text-align: center;
    font-size: 1.4rem;
}
